<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../images/favicon.ico">
	<!-- 引入header -->
    <include file="Public/header" />
    <!-- 结束 -->
  
  <!-- Main Navbar -->
  <div class="main-nav">  	
	   <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link" href="/admin.php"><span class="active-item-here"></span><i class="fa fa-dashboard mr-5"></i> <span>仪表盘</span></a>
              </li>
              <li class="nav-item dropdown active">

                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-th mr-5"></i> <span class="active-item-here"></span><span>应用中心</span>
                </a>                  
                <ul class="dropdown-menu multilevel scale-up-left">
                	<li class="nav-item"><a class="nav-link" href="{:U('tools/index')}">应用管理</a></li>
                	<li class="nav-item"><a class="nav-link active" href="{:U('tools/add')}">新增应用</a></li>     
                	<li class="nav-item"><a class="nav-link" href="{:U('tools/classe')}">分类管理</a></li> 
                  <li class="nav-item"><a class="nav-link" href="{:U('tools/link')}">友链管理</a></li>
                  <li class="nav-item"><a class="nav-link" href="{:U('tools/menu')}">导航管理</a></li>            
                </ul>                 
              </li> 
              
              <li class="nav-item dropdown m-menu m-fix">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-table mr-5"></i> <span>系统设置</span>
                </a>
                <div class="dropdown-menu menu-mega mega-menu-auto scale-up-left">
                    <ul class="dropdown-menu multilevel scale-up-left">
                        <li>
                            <a class="nav-link" href="{:U('system/index')}" title=""><i class="fa fa-creative-commons mr-15"></i>基础设置</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{:U('system/upinfo')}" title=""><i class="fa fa-address-card-o mr-15"></i>信息修改</a>
                        </li>
                       <li>
                            <a class="nav-link" href="{:U('system/temp')}" title=""><i class="fa fa-cubes mr-15"></i>模板设置</a>
                        </li>
                       <!--  -->
                    </ul><!-- /.menu-mega-child one-four -->
                          
                    
                </div>
                  
              </li>
              
              <li class="nav-item dropdown m-menu">
                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-laptop mr-5"></i> <span>应用商店</span>
                </a>
                <div class="dropdown-menu menu-mega scale-up-down">
                  
                    
                </div>
                  
              </li>               
              <li class="nav-item dropdown">
                <a class="nav-link" href="{:U('update/index')}">
                  <i class="fa fa-puzzle-piece mr-5"></i>检查更新
                </a>
              </li>
               
            </ul>
          </div>
        </nav>  	  
  </div>

  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        上传新的工具吧！
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin.php"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
        <li class="breadcrumb-item"><a href="#">应用中心</a></li>
        <li class="breadcrumb-item active">新增工具</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="box">
			  <div class="box-header with-border">
				<h3 class="box-title"> <strong>上传须知</strong></h3>
			  </div>
              <div class="box-body">
                <p><code>上传通知</code></p>
                <p>1.上传的格式一定要为<code>ZIP</code>格式！     
                	2.<code>新增站外链接</code>不需要上传任何工具！只需要填写链接即可！
                	3.<code>ZIP包必须为英文</code>，否则会上传失败！
                	4.如初次使请先下载 <a href="">demo.zip</a>查看应用结构！
                </p>
              </div>
            </div>
		<div class="row">
			<div class="box">
            <div class="box-header with-border">
              <h4 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发布你的新应用</font></font></h4>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="f" enctype="multipart/form-data" class="form-horizontal form-element">
              <div class="box-body">
              	<div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">链接</font></font></label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control"  name="link" placeholder="如果发布工具此项不用填写，请填写完整域名">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">应用名称</font></font></label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="为了让更多的人点击它，给你的应用起一个响亮的名字">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">应用LOGO</font></font></label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="logo" name="logo" placeholder="单字效果最好哦！">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">分类</font></font></label>

                  <div class="col-sm-10">
                    <select class="form-control" id="classid" name="classid">
                    	<volist name="class" id="vo">
		                    <option value="{$vo.id}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.classname}</font></font></option>
		                    
		                </volist>
                  </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选择ZIP包</font></font></label>

                  <div class="col-sm-10">
                    <input type="file" name="file" id="InputFile">
                  </div>
                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{:U('tools/index')}" class="btn btn-default"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></a>
                <button type="button" id="addtools" class="btn btn-info pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加</font></font></button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>

        <!-- left column -->
        
        
      </div>
      <!-- /.row -->
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
	<include file="Public/footer" />
	<script src="__PUBLIC__/Admin/js/layer/layer.js"></script>
	<script type="text/javascript">
	   	$("#addtools").click(function(){
	   		var name = $("#name").val();
	   		var classid = $('#classid option:selected').val();
	  		var formData=new FormData(document.getElementById("f"));
	    	var logo = $("#logo").val();
	    	if (name =='') {
	    		layer.msg('请输入应用名称呢！', function () {
                //关闭后的操作
                	return false;
            	});
            	return false;
	    	}
	    	if (logo =='') {
	    		layer.msg('请输入单字logo哦！', function () {
                //关闭后的操作
                	return false;
            	});
            	return false;
	    	}
	    	var index = layer.load(1, {shade: false}); //0代表加载的风格，支持0-2
			$.ajax({  
		       url: '{:U('tools/addtools')}' ,  
		       type: 'POST',  
		       data: formData,  
		       dataType:'json',
		       async: false,  
		       cache: false,  
		       contentType: false,  
		       processData: false,  

		       success: function (data) {
		           if(data.status == 1){
		           		layer.closeAll('loading');
		               //判断返回的status来确定文件是否上传成功，以及上传成功后要做的操作
		                layer.alert(data.info, { icon: 6 });  
                    window.location.reload();
		           }
		           if(data.status == 0){
		           		layer.closeAll('loading');
		           		layer.alert(data.info, { icon: 5 });  
		           }
		           alert(response.msg);  
		       },  
			});  
		});
	</script>
	
</body>
</html>
